.edit-profile-btn {
  height: 38px;
}

.flex-align-right-top {
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.btn-danger {
  --bs-btn-color: #bb2d3b !important;
  --bs-btn-bg: #dc35452e !important;
  --bs-btn-border-color: #dc354508 !important;
  --bs-btn-hover-color: #fff !important;
  font-weight: 600 !important;
}

.border-card {
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.feed-nav-underline .nav-link.active {
  color: var(--bs-nav-link-color) !important;
  border-bottom: 0.19rem solid var(--bs-nav-link-color) !important;
}

.feed-nav-underline .nav-link {
  /* color: var(--bs-nav-underline-link-active-color); */
  color: #2b2f32d1 !important;
  /* padding-top: 0.95rem !important;
  padding-bottom: 0.95rem !important; */
}

.nav-underline {
  gap: 0rem !important;
}

.remove.dropdown-toggle::after {
  border: none !important;
  /* Removes the border */
  /* background: none !important;  */
  /* Ensures no background color is visible */
}

.feed-pp-container {
  margin-top: -80px;
}
.feed-icon-rounded-circle {
  height: 5.125rem;
  width: 5.125rem;
  padding: 0.1rem;
}

.feed-icon-rounded-circle-two {
  height: 3.125rem;
  width: 5.125rem;
  padding: 0.1rem;
}

.btn-xsm {
  --bs-btn-padding-y: 0.25rem !important;
  --bs-btn-padding-x: 0.5rem !important;
  --bs-btn-font-size: 0.75rem !important;
  /* background-color: rgba(15, 111, 236, 0.1) !important; */
}

.img-avatar {
  object-fit: cover !important;
  object-position: center center !important; /* Adjust this to focus on a specific part of the image */
  width: 200px !important; /* Adjust as per your need */
  height: 200px !important; /* Adjust as per your need */
  border-radius: 8px !important;
}

.img-avatar-sm {
  object-fit: cover !important;
  object-position: center center !important; /* Adjust this to focus on a specific part of the image */
  width: 200px !important; /* Adjust as per your need */
  height: 116px !important; /* Adjust as per your need */
  border-radius: 8px !important;
}
.avatar-xxs {
  height: 1.5rem;
  width: 1.5rem;
}

.flex-avatar-overlap {
  margin-right: -1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background: black;
}

.carousel-control-prev-fixed-position {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.dropdown .btn:focus,
.dropdown .btn:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.dropdown-item.fw-semibold:hover {
  background-color: transparent !important;
  color: rgb(13 110 253) !important; /* Retain original text color */
}
