body {
  margin: 0;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #fff !important;
}

.toggle-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: none !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.icon-md,
.icon-md img {
  height: 2.5rem;
  width: 2.5rem;
}

main {
  padding-top: calc(1.5rem + 56px);
}

.bg-light {
  background-color: #eef0f2 !important;
}

.list-style-none {
  list-style: none;
}
